.SingIn{
    width: 1050px;
    margin: 0 auto;
    position: relative;
}

.signinTitle{
    margin-top: 90px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.signInForm{
    width: 340px;
    margin: 0px auto;
    letter-spacing: -0.6px;
    padding-top: 30px;
}

.signInForm form{
    display: flex;
    flex-direction: column;
}

.signInForm form input{
    height: 54px;
    font-size: 14px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-family: "Noto Sans KR", "malgun gothic", AppleGothic, dotum, sans-serif;
}

.finder{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin: 3px 0 3px;
    font-size: 13px;
}

.finder a{
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.finder span{
    width: 1px;
    height: 10px;
    margin: 3px 6px 0px;
    background-color: rgb(51, 51, 51);
}

.signButton{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px;
}

.signButton button{
    margin-top: 10px;
}

.signInButton{
    font-family: "Noto Sans KR", "malgun gothic", AppleGothic, dotum, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 10px;
    height: 54px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
}

.signUpButton{
    font-family: "Noto Sans KR", "malgun gothic", AppleGothic, dotum, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 10px;
    height: 54px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}

.signUpButton a{
    color: rgb(95, 0, 128);
}